@{
    var theme = ViewData["theme"] as string ?? "primary";
    var showNav = ViewData["howNav"] as bool? ?? true;
    var navPartial = ViewData["navPartial"] as string ?? "_Workflows";
    var workflow = ViewData["workflow"] as string;
    var banner = ViewData["banner"] as string ?? "User Dashboard";
    var showHeader = ViewData["showHeader"] as bool? ?? true;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Identity App</title>
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
@if (showHeader)
{
    <nav class="navbar navbar-dark bg-@theme">
        <a class="navbar-brand text-white">IdentityApp</a>
        <div class="text-white"><partial name="_LoginPartial"/></div>
    </nav>
}
<h4 class="bg-@theme text-center text-white p-2">@banner</h4>
<div class="my-2">
    <div class="container-fluid">
        <div class="row">
            @if (showNav)
            {
                <div class="col-auto">
                    <partial name="@navPartial" model="@((workflow, theme))"/>
                </div>
            }
            <div class="col">
                    @RenderBody()
            </div>
        </div>
    </div>
</div>
</body>
</html>
