@model (string workflow, string theme)
@inject UserManager<IdentityUser> UserManager
@{
    Func<string, string> getClass = (string feature) => feature != null && feature.Equals(Model.workflow) ? "active" : "";

    var identityUser = await UserManager.GetUserAsync(User) ?? new IdentityUser();
}

<div class="d-grid gap-2">

    <a class="btn btn-@Model.theme @getClass("Overview")" asp-page="Index">
        Overview
    </a>

    @if (await UserManager.HasPasswordAsync(identityUser))
    {
        <a class="btn btn-@Model.theme  @getClass("PasswordChange")" asp-page="UserPasswordChange">
            Change Password
        </a>
    }

    <a class="btn btn-@Model.theme @getClass("UserDelete")" asp-page="UserDelete">
        Delete Account
    </a>
</div>

