@page
@model IdentityApp.Pages.Identity.UserPasswordChangeModel
@{
    ViewBag.Workflow = "PasswordChange";
}

<div asp-validation-summary="All" class="text-danger m-2"></div>

@if (TempData.ContainsKey("message"))
{
    <div class="alert alert-success">@TempData["message"]</div>
}

<form method="post">
    <div class="m-2">
        <label>Current Password</label>
        <input class="form-control" name="current"  type="password"/>
    </div>
    <div class="m-2">
        <label>New Password</label>
        <input class="form-control" name="newPassword" type="password" />
    </div>
    <div class="m-2">
        <label>Confirm New Password</label>
        <input class="form-control" name="confirmPassword" type="password" />
    </div>
    <button class="btn btn-primary">Change Password</button>
    <a asp-page="Index" class="btn btn-secondary">Cancel</a>
</form>